<<<<<<< HEAD
:root {
    --headcolor: #7abbcf;
    --bgcolor: #cbebf4;
    --accentcolor: #3B8B90;
    --reccardcolor: #14656A;
    --darkfont: rgb(6, 76, 93);
    --lightfont: rgb(232, 246, 250);
=======
:root{
    --headcolor: #6290C3;
    --bgcolor: #FFEEDD;
    --accentcolor: #FFD8BE;
    --reccardcolor: #1A1B41;
    --darkfont: #121619;
    --lightfont: #F8F7FF;
>>>>>>> 299929196f4f2256ac28b494ad7eeab65a14dd0b

}

/* light and dark button */
/* light mode */
body {
    background-color: #ffffff;
    color: #333333;
    transition: 0.5s;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #333333;
    color: #ffffff;
    transition: 0.5s;
}

* {
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD

h1 {
    text-align: center;
    color: rgb(6, 76, 93);
=======
h1, h3, p{
    text-align: center;
    color:var(--reccardcolor);
>>>>>>> 299929196f4f2256ac28b494ad7eeab65a14dd0b

}

header {
    background-color: var(--headcolor);
}

body {
    background-color: var(--bgcolor);

}

#middle-top-col {
    text-align: center;
    margin-top: 25px;
}
#left-col{
    background-color: var(--headcolor);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 20px;

}
.form-group label{
    display: block;
    margin-bottom: 5px;
}

#right-col{

}